<footer class="footer">
  <small>
    The <a href="https://gist.github.com/luvtechno/5e913de2ca3341f9646e633416dc06be">Wantedly demo app</a>
    by <a href="https://www.facebook.com/norihiro.nagao">Nanjo Porio</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",  root_path %></li>
    </ul>
  </nav>
</footer>
